
/*rules for alls*/
body{
  margin: 0;
  width: 100%;
}
li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
ol{
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.main-container{
  width: 1200px;
  margin: 0 auto;
}

/*rules for header*/

.header-container{
  display: flex;
  justify-content: space-between;
}
.header-list1{
  display: flex;
}
.header-list-2{
  display: flex;

}
.header-item{
  display: block;
}
.header--item--1--1{
  padding-left: 71px;
}
.header-item--1--2{
  padding-left: 33px;
  padding-right: 33px;
}
.logo-header{
  position: absolute;
  left: 50%;
  margin-left: -69px;

}
.header-item--2--2{
  padding-left: 21px;
  padding-right: 20px;
}
.header-item--2--3{
  padding-right: 72px;
}

/*slogan in the main*/

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 282px;
}
.text-container *{
  display: inline-block;
  text-align: center;
  width: 720px;
}
.text-container h2{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.text-container p{
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}
/*grid*/
.main-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 384px;
}
.container--picture--1{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.container--picture--2{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.container--text--all{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container--text--all p{
  width: 250px;
  height: 73px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  font-size: 18px;
}
.container--text--all h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-transform: uppercase;
  text-align: center;
}
.container--text--1, .container--text--5{
  background-color: #83B3D3;
  color: white;
}
.container--text--2, .container--text--4, .container--text--7{
  background-color: rgba(131, 179, 211, 0.2);
  color: black;
}

.container--text--3, .container--text--6, .container--text--8{
  background: rgba(131, 179, 211, 0.12);
}
        /*text in bottom near Form*/
.hotel--rent--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 282px;
}
.hotel--rent--container *{
  display: inline-block;
  text-align: center;
  width: 720px;
}
.hotel--rent--container h2{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.hotel--rent--container p{
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}
/*container for reference*/
.ref-container-main{
  display: flex;
  width: 720px;
  justify-content: center;
  align-items: center;
}
.ref-container-main a{
  display: block;
  width: 575px;
  height: 60px;
  color: white;
  text-align: center;
  background-color: #756257;
  border-radius: 10px;
}
.subscribe--container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 411px;
  background-image: url("../image/index/background.png");
}

.subscribe--container h2{
  display: inline-block;
  text-align: center;
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.subscribe--container p{
  display: inline-block;
  text-align: center;
  width: 720px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}
.form-container{
  width: 800px;
  height: 60px;
}
.form--subscribe{
  display: flex;
}
.main--input--email{
  width: 600px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: none;
  align-items: center;
}
.main--input--send{
  width: 200px;
  height: 60px;
  margin: 0;
  padding: 0;
  align-items: center;
  border: none;
  background-color: #83B3D3;
}
  /*footer--rules*/
.main--footer--container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social--container{
  display: flex;
  align-items: center;

  height: 120px;
}
.facebook{
  padding-right: 30px;
  padding-left: 29px;
}
.twitter{
  margin-left: 72px;
}
.logo-footer-container{
  margin-right: 45px;

}
.telephone--container{
  width: 720px;
  height: 50px;
  margin: 0 auto;
  display: flex;
}
.telephone{
  margin: auto;
}




